{% load static %}
{% load helpers %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>АвтоД</title>
    <link href="{% static 'bootstrap-4.1.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <style type="text/css">
      .hide {
        display: none;
      }
    </style>
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">АвтоД</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2" href="{% url 'upload' %}">Добавить данные</a>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Загруженные автомобили</h1>
      <p class="lead"></p>
    </div>

    <div id="toolbar"></div>
    <div class="container-fluid">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}

      <table id="table"
             data-show-export="true"
             data-export-data-type="selected"
             data-export-types="['excel']"
             data-export-options='{"ignoreColumn": ["date", "report"], "fileName": "АвтоДилер"}'
             data-pagination="true"
             data-click-to-select="true"
             data-search="true"
             data-toggle="table"
             data-show-toggle="true"
             data-filter-control="true">
        <thead>
          <tr>
            <th data-field="state" data-field="state" data-checkbox="true"></th>
            <th>№ п/п</th>
            <th data-field="date" data-filter-control="datepicker" data-filter-datepicker-options='{"autoclose":true, "language":"ru"}'>Дата проверки</th>
            <th data-field="report">Ссылка на отчет автокод и фотографии</th>
            <th>Группа компаний</th>
            <th data-field="inn" data-filter-control="input">ИНН залогодателя</th>
            <th data-field="name" data-filter-control="input">Залогодатель</th>
            <th data-tableexport-value="Признак постановки/снятия обременения" data-field="zalog" data-filter-control="select">Признак постановки/снятия обременения</th>
            <th>Новый автомобиль/автомобиль с пробегом</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Год выпуска</th>
            <th>Заводской номер/VIN</th>
            <th>Рабочий объем, см3</th>
            <th>Цвет</th>
            <th>Гос. номер</th>
            <th>Пробег, км (> 0)</th>
            <th>Серия и номер ПТС</th>
            <th>Адрес места нахождения</th>
            <th>Рыночная стоимость*  руб.</th>
            <th data-tableexport-display="always" class="hide">Дисконт, %</th>
            <th data-tableexport-display="always" class="hide">Стоимость предмета залога для целей пункта 3 статьи 340 ГК РФ, руб., выбрать нужное:  в том числе  НДС/НДС не предусмотрен.</th>
          </tr>
        </thead>
        <tbody>
          {% for car in cars %}
            <tr>
              <td></td>
              <td>{{ forloop.counter }}</td>
              <td>{{ car.created_at|date:"d.m.Y" }}</td>
              <td><a href="{% url 'report' car.id %}">Отчет #{{ car.id }}</a></td>
              <td>{{ car.company_group.name }}</td>
              <td>{{ car.company.inn }}</td>
              <td>{{ car.company.name }}</td>
              <td>{{ car.zalog }}</td>
              <td>{{ car.new|yesno:"Новый,С пробегом,Неизвестно" }}</td>
              <td>{{ car.make }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.year }}</td>
              <td>{{ car.vin }}</td>
              <td>{{ car.engine_size }}</td>
              <td>{{ car.color }}</td>
              <td>{{ car.car_number }}</td>
              <td>{{ car.mileage }}</td>
              <td>{{ car.pts }}</td>
              <td>{{ car.address }}</td>
              <td>{{ car.price }}</td>
              <td class="hide"></td>
              <td class="hide"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2018 is better than you</small>
          </div>
        </div>
      </footer>
    </div>

    <script src="{% static 'bootstrap-4.1.0/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.0/assets/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'bootstrap-table/locale/bootstrap-table-ru-RU.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'bootstrap-table/extensions/export/tableExport.js' %}"></script>
    <script src="{% static 'bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.js' %}"></script>
    <script>
      $('body').on('change', '.bootstrap-table-filter-control-date', function(e) {
        setTimeout(function() {
          $('#table').data('bootstrap.table').onSearch({'currentTarget':$('.bootstrap-table-filter-control-date').get(0)});
        }, 500);
      });
    </script>

  </body>
</html>
