{% load static %}
{% load helpers %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>АвтоД</title>
    <link href="{% static 'bootstrap-4.1.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">АвтоД</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2" href="/">Назад</a>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">VIN: {{ vin }}</h1>
        {% if report == None %}
          <p class="lead">Отчет для автомобиля не запрашивался</p>
        {% else %}
          {% if not report.ready %}
            <p class="lead">Отчет еще не готов. Попробуйте перезагрузить страницу через минуту.</p>
          {% endif %}
        {% endif %}
    </div>
      <div class="container">
        {% if report != None and report.ready %}
          <div class="card">
            <div class="card-body">
              <pre>
                <code class="json">
                  {{ report.data|tojson }}
                </code>
              </pre>
            </div>
          </div>
        {% endif %}

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Наименование</th>
              <th>Фотографии</th>
            </tr>
          </thead>
          <tbody>
            {% for image_group, urls in images.items %}
              <tr>
                <td>{{ image_group }}</td>
                <td>
                  <div class="row text-center text-lg-left">
                    {% for url in urls %}
                      <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="{{ url }}" class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="{{ url }}" alt="">
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <small class="d-block mb-3 text-muted">&copy; 2018 is better than you</small>
            </div>
          </div>
        </footer>
      </div>
    

    <script src="{% static 'bootstrap-4.1.0/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.0/assets/js/vendor/jquery-slim.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.0/js/bootstrap.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
