{% load static %}
{% load helpers %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>АвтоД</title>
    <link href="{% static 'bootstrap-4.1.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">АвтоД</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2" href="/">Назад</a>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Загрузите файл</h1>
    </div>
      <div class="container text-center">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}

        <form action="" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="file" class="border" name="json_file" id="json_file" required>
          </div>
          <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <small class="d-block mb-3 text-muted">&copy; 2018 is better than you</small>
            </div>
          </div>
        </footer>
      </div>

    <script src="{% static 'bootstrap-4.1.0/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.0/assets/js/vendor/jquery-slim.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.0/js/bootstrap.min.js' %}"></script>
  </body>
</html>
